.contact-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.contact-icon {
  color: #1a53ff;
  font-size: 1.5rem;
  margin-right: 10px;
}

.contact-address,
.contact-directions,
.contact-hours {
  font-size: 1rem;
  color: #333;
  margin-top: 10px;
  text-align: center;
}
