/* Base Styles */

.home-container {
  font-family: "Arial", sans-serif;
  margin: 0 auto;
}

/* Research Section */
.research-section {
  position: relative;
  margin: 2rem 0;
  padding: 2rem 0;
}

.white-floating-box {
  background: white;
  padding: 2.5rem;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  margin: -3rem auto 0;
  position: relative;
  z-index: 1;
  max-width: 800px;
}

/* General Section Styles */
.section {
  text-align: center;
  margin: 40px 0;
  position: relative;
}

/* Section Title with Dividers */
.section-title {
  font-size: 24px;
  font-weight: bold;
  margin: 50px auto;
  display: flex;
  position: relative;
}

.section-title::before,
.section-title::after {
  content: "";
  flex: 1;
  height: 1px;
  background: hsla(0, 0%, 50%, 0.6);
  margin: auto 15px;
}

/* News Tabs */
.news-container {
  display: flex;
  max-width: 800px;
  justify-content: center;
  gap: 20px;
  margin: 50px auto;
  padding: 50px;
}

.news-tab {
  background: #0a4a9c;
  color: white;
  padding: 20px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.news-tab:hover,
.news-tab.active {
  background: #083b7a;
}

/* Highlights Slider */
.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}
.slider-container button {
  background: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.highlight-card {
  background: transparent;
  padding: 20px;
  border-radius: 8px;
  max-width: 60rem;
  margin: 10px auto;
}

.highlight-title {
  font-size: 20px;
  font-weight: bold;
  color: #0a4a9c;
}

.highlight-subtitle {
  font-size: 16px;
  font-weight: bold;
}

.highlight-description {
  font-size: 14px;
  color: #555;
  margin: 10px 0;
}

.read-more {
  display: inline-block;
  margin-top: 10px;
  background: #0a4a9c;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.read-more:hover {
  background: #083b7a;
}
