.publications-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #f0f3fc;
}

.publications-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.publication-button {
  background-color: #283593;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.publication-button:hover {
  background-color: #1a237e;
}

.section {
  text-align: center;
  margin: 40px 0;
  position: relative;
}

/* Section Title with Dividers */
.section-title {
  font-size: 24px;
  font-weight: bold;
  margin: 50px auto;
  display: flex;
  position: relative;
}

.section-title::before,
.section-title::after {
  content: "";
  flex: 1;
  height: 1px;
  background: hsla(0, 0%, 50%, 0.6);
  margin: auto 15px;
}

.paper-item {
  display: flex;
  align-items: center;
  width: 50rem;
  margin: 30px auto;
}

.paper-item img {
  width: 150px;
  height: auto;
  border-radius: 5px;
  margin-right: 20px;
}

.paper-content {
  flex: 1;
}

.authors {
  font-size: 1rem;
  color: #333;
}

.paper-title {
  font-size: 1.1rem;
  font-weight: bold;
  color: #1a53ff;
  text-decoration: none;
}

.paper-title:hover {
  text-decoration: underline;
}

.conference {
  font-size: 0.9rem;
  color: #555;
}

.read-paper {
  background-color: transparent;
  border: 1px solid #000;
  padding: 8px 12px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: 0.3s;
}

.read-paper:hover {
  background-color: #1a237e;
  color: white;
}
