@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    background: #f3f4f9;
}

@keyframes slideIn {
    0% {
        transform: translateX(200%);
        opacity: 0;
    }

    50%{
        transform: translateX(100%);
        opacity: 0.5;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.animate-slide-in {
    animation: slideIn 0.3s ease-out forwards;
}